#add-post-form {
  background-color: rgb(8, 8, 8);
  color: rgb(255, 255, 255);
  font-family: Roboto;
  position: fixed;
  padding: 35px 15px 12px 15px;
  width: 45%;
  height: fit-content;
  min-width: 300px;
  border: 3px solid rgb(238, 143, 159);
  border-radius: 10px;
  top: 55px;
  left: 27%;
  right: 28%;
  z-index: 1;
}
.not-visible {
  display: none;
}

input,
textarea {
  background-color: rgb(234, 234, 234);
  color: black;
  font-family: Roboto;
}

.form-header{
  display: flex;
  position: relative;
  white-space: nowrap;
  margin-bottom: 20px;
}

#restaurant-name-input-label {
  position: absolute;
  top: -14px;
  left: 2px;
  font-size: 12px;
}
#restaurant-name-input {
  flex: 10;
  margin-right: 8px;
  height: 25px;
  border: 3px solid rgba(238, 143, 159, 0.9);
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  outline: none;
}

.rating-container {
  display: flex;
  align-items: center;
  margin-top: -14px;
  flex: 1;
  height: 4ypx;
  flex-direction: column;
}

#rating-input-label {
  font-size: 12px;
}
#rating-input {
  flex: 1;
  width: 60%;
  height: 25px;
  border: 3px solid rgba(238, 143, 159, 0.9);
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  outline: none;
}

#form-exit-button {
  background-color: rgb(238, 143, 159);
  color: white;
  position: absolute;
  top: -35.25px;
  right: -15.25px;
  width: 24px;
  height: 24px;
  border: none;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  text-align: center;
  cursor: pointer;
}

#username-input-label {
  position: absolute;
  top: 74px;
  left: 17px;
  font-size: 12px;
}
#username-input {
  width: 97.5%;
  margin-bottom: 20px;
  height: 25px;
  border: 3px solid rgb(238, 143, 159);
  border-radius: 6px;
  font-size: 16px;
  outline: none;
}

#description-input-label {
  position: absolute;
  left: 18px;
  top: 126px;
  font-size: 12px;
}
#description-input {
  font-size: 14px;
  width: 97.5%;
  height: 250px;
  border: 3px solid rgba(238, 143, 159, 0.9);
  border-radius: 6px;
  resize: none;
  outline: none;
}

#form-error-message{
  color: rgba(238, 143, 159, 0.9);
  text-align: center;
  margin: 6px 9px 0 0;
}

.form-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  margin: 12px 9px 0 0;
}

#form-submit-button {
  background-color: rgba(238, 143, 159, 0.9);
  color: white;
  font-weight: bold;
  width: 70px;
  height: 35px;
  border: none;
  cursor: pointer;
}
#form-clear-button {
  background-color: white;
  color: black;
  font-weight: bold;
  width: 70px;
  height: 35px;
  border: none;
  cursor: pointer;
}

#form-exit-button:hover,
#form-submit-button:hover,
#form-clear-button:hover {
  background-image: linear-gradient(rgb(0 0 0/5%) 0 0);
}
#form-exit-button:active,
#form-submit-button:active,
#form-clear-button:active {
  background-image: linear-gradient(rgb(0 0 0/10%) 0 0);
}