body {
  background-color: rgb(25, 25, 25);
  padding-top: 50px;
  color: rgb(207, 207, 207);
}

.button-row {
  margin: 0 40% 5px 65px;
  /* border: 1px solid gray; */
}

.filter-button, 
.sort-button {
  background-color: rgb(130, 130, 130);
  font-family: Arial;
  font-size: 12px;
  color: white;
  border: none;
  margin-top: 4px;
  margin-bottom: 6px;
  padding: 6px 14px;
  border-radius: 14px;
  cursor: pointer; 
  transition: opacity 0.1s;
}
.sort-button {
  margin-left: 4px;
}

.misc-button-container {
  display: inline-block;
  position: absolute;
  right: 70px;
  top: 52px;
}
#toggle-button,
.refresh-button,
#delete-button {
  background-color: rgb(25, 25, 25);
  color: white;
  font-size: 12px;
  padding: 8px 16px;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 12px;
  transition: opacity 0.20s;
  margin-top: 4px;
  margin-bottom: 6px;
  cursor: pointer;
  float: right;
}
.refresh-button { 
  background-color: rgba(70, 157, 238, 0.9);
  border: none;
}
.light-mode { /* temporary: kinda ass rn */
  background-color: rgb(212, 212, 212);
  color: rgb(24, 24, 24);
}

#add-entry-button {
  background-color: rgba(70, 157, 238, 0.9);
  position: fixed;
  right: 40px;
  bottom: 44px;
  font-family: Arial;
  font-size: 16px;
  color: white;
  border: none;
  padding: 30px 20px;
  border-radius: 34px;
  cursor: pointer;
  transition: opacity 0.1s;
  z-index: 1;
}

.filter-button:hover,
.sort-button:hover,
#add-entry-button:hover,
.refresh-button:hover,
#toggle-button:hover {
  background-image: linear-gradient(rgb(0 0 0/5%) 0 0);
}
.filter-button:active,
.sort-button:active,
#add-entry-button:active,
.refresh-button:active,
#toggle-button:active {
  background-image: linear-gradient(rgb(0 0 0/10%) 0 0);
}

@media (max-width: 800px) {
  .button-row {
    margin-left: 0;
  }
}