header {
  position: sticky;
  top: 0;
  height: 100%; 

  display: flex;
  align-items: center;
  padding: 0px 8px;
}

/*
.hamburger-icon {
}
*/

header .logo {
  height: 75%;
}

header .search-bar {
  height: 28px;
  width: 0; /* max shrink */
  flex: 1;
  padding-left: 8px;
  outline: none;

  font-size: 14px;
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
  border: 1px solid rgba(238, 143, 159, 0.9);
}

.search-button {
  height: 31.6px;
  width: 50px;
  cursor: pointer;

  background-color: white;
  border: 1px solid rgba(238, 143, 159, 0.9);

  border-left-width: 0px; /* no overlap */
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.search-button:active {
  opacity: 0.85;
}

.search-icon {
  padding-top: 2px;
  height: 85%;
}