#infobar {
}

.tabs {
  position: sticky;
  top: 0;
  
  display: flex;
  flex-wrap: wrap;
}
.tabs input[type="radio"] {
  display: none;
}
.tabs label {
  font-size: 15px;
  font-weight: bold;
  padding: 12px 8px;
  cursor: pointer;
}

.tabs .tab {
  font-size: 14px;
  width: 100%;
  padding: 10px;
  order: 1;
  display: none;
}

.tabs input[type="radio"]:checked + label + .tab {
  display: block;
}
.tabs input[type="radio"]:checked + label {
  color: rgba(238, 143, 159, 0.9);
}

/* @media (max-width: 500px) {
  .infobar {
    display: none;
  }
} */