body {
  margin: 0;
  font-family: Roboto, Arial;
}

#home-layout-grid {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: 65px 3fr 2fr;
  grid-template-rows: 50px 1fr;
  box-sizing: border-box;
}
#home-layout-grid header {
  border-bottom: 1px solid black;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}
#home-layout-grid #sidebar {
  border-right: 1px solid black;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
#home-layout-grid #infobar {
  border-left: 1px solid black;
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}
#home-layout-grid .body {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
