/* ------------------------ */
/* Main Page Layout         */
/* ------------------------ */

.display {
  max-width: 1400px;
  margin: auto;
  height: 250vh;
  font-family: var( --ff-roboto);
}

.info-section {
  flex: 2;
}

/* ------------------------ */
/* Button Styles            */
/* ------------------------ */

button:hover {
  background-image: linear-gradient(rgb(0 0 0/3%) 0 0);
}
button:active {
  background-image: linear-gradient(rgb(0 0 0/5%) 0 0);
}

/* ------------------------ */
/* Custom Properties        */
/* ------------------------ */

:root {
  /* colors */
  --clr-dark: 12 12 12;
  --clr-light: 238 143 159;
  --clr-white: 253 253 253;

  --clr-rating-0: 110 110 110;
  --clr-rating-1: 215 84 84;
  --clr-rating-2: 218 165 32;
  --clr-rating-3: 156 204 59;
  --clr-rating-4: 19 167 19;

  /* font families */
  --ff-roboto: "Arial";
}

/* ------------------------ */
/* Reset                    */
/* ------------------------ */

/* Box sizing */

* {
  box-sizing: border-box;
}

/* Reset margins */

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

/* Set up the body */

body {
  /* line-height: 1.25; */
  min-height: 100vh;
  font-size: 15px;
}

/* Make images easier to work with */

img, 
picture {
  max-width: 100%;
  display: block;
}

/* Make forms easier to work with */

input,
button,
textarea,
select {
  font: inherit;
}

/* ------------------------ */
/* Utility Classes          */
/* ------------------------ */

/* General */

.flex {
  display: flex;
}

.grid {
  display: grid;
}

/* Colors */

.bg-dark { background-color: rgb( var(--clr-dark) );}
.bg-light { background-color: rgb( var(--clr-light) );}
.bg-white { background-color: rgb( var(--clr-white) );}

.text-dark { color: rgb( var(--clr-dark) );}
.text-light { color: rgb( var(--clr-light) );}
.text-white { color: rgb( var(--clr-white) );}

.text-rating-0 { color: rgb( var(--clr-rating-0) );}
.text-rating-1 { color: rgb( var(--clr-rating-1) );}
.text-rating-2 { color: rgb( var(--clr-rating-2) );}
.text-rating-3 { color: rgb( var(--clr-rating-3) );}
.text-rating-4 { color: rgb( var(--clr-rating-4) );}
.text-rating-5 { color: rgb( var(--clr-light) );}

.bold { font-weight: bold; }