#posts {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.post {
  display: grid;
  grid-template-columns: 52px 1fr 90px 60px;
  grid-template-rows: 30px 22px 1fr 30px;
  border: 1px solid black;
}
.post .rating {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  justify-self: center;
  align-self: center;
  padding: 7px;
  border: 1px solid rgb(43, 43, 43);
  font-size: 20px;
  font-weight: bold;
}
.rating1 { color: rgb(110, 110, 110); }
.rating2 { color: rgb(215, 84, 84); }
.rating3 { color: rgb(233, 231, 109); }
.rating4 { color: rgb(156, 205, 59); }
.rating5 { color: rgb(19, 167, 19); }
.rating6 { color: rgba(238, 143, 159, 0.9); }

.post .restaurant-name {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  margin-top: 5px;

  font-size: 20px;
  font-weight: bold;
}

.post .username {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin-top: -5px;
  
  font-size: 16px;
  font-weight: bold;
}

.post .description {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
  margin-top: -5px;
  
  font-size: 15px;
}

.post .post-stats {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  place-items: center;
  column-gap: 85px;
  padding-left: 2px;

  display: flex;
}

.post .like-button,
.post .reply-button,
.post .share-button {
  background-size: auto;
  background-repeat: no-repeat;
  height: 22px;
  width: 22px;
  padding: 8px;

  border: 1px solid black;
  cursor: pointer;
}
.post .like-button {
  background: url("/restaurant-review-website/images/active-like.png");
  background-size: cover;
}
.post .reply-button {
  background: url("/restaurant-review-website/images/replies.png");
  background-size: cover;
}
.post .share-button {
  background: url("/restaurant-review-website/images/share.png");
  background-size: cover;
}

.post .post-time {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  justify-self: center;
  padding-top: 5px;

  font-size: 12px;
}

.post .bookmark-button {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
  justify-self: center;
  height: 45px;
  width: 45px;
  margin-top: -4px;
  border: none;

  cursor: pointer;
  background: url("/restaurant-review-website/images/unactive-bookmark.png");
  background-size: cover;
}