.posts-section {
  flex: 3;
  height: 100%;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

/* ------------------------ */
/* Header Section           */
/* ------------------------ */

.posts-section header {
  position: sticky;
  top: 0;
  padding: 12px;
  gap: 8px;
  border-bottom: 1px solid lightgray;
  /* caused some lag */
}

header .search-bar {
  flex: 1;
  padding: 4px 12px;
  border-radius: 18px;
  outline: none;
  border: 1.5px solid rgb( var(--clr-dark) );
}

/* ------------------------ */
/* Post Styles              */
/* ------------------------ */

#posts {
  flex-direction: column;
}

.post {
  display: grid;
  grid-template-columns: 44px 1fr 44px;
  grid-template-rows: 22px 1fr 30px;
  padding: 4px;
  border-bottom: 1px solid lightgray;
  cursor: pointer;
}
.post:hover {
  background-image: linear-gradient(rgb(0 0 0/3%) 0 0);
}

.post .rating {
  grid-column: 1 / 2;
  justify-self: center;
  align-self: center;
  margin-top: 20px;
  padding: 6px;
  width: 30px;
  border: 1px solid rgb( var(--clr-dark) );
  text-align: center;
}

.post-header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  align-self: last baseline;
}

.post-comment {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  padding: 4px 0;
}

.post-stats {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  gap: 8px;
  align-items: center;
}

.post-stats .like-button,
.post-stats .reply-button,
.post-stats .bookmark-button {
  padding: 12px;
  align-self: center;
  border: none;
  cursor: pointer;
  margin-right: -4px;
}
.post-stats .like-button {
  background: url("/restaurant-review-website/images/unactive-like.png");
  background-size: cover;
  border: 1px solid black;
}
.post-stats .reply-button {
  background: url("/restaurant-review-website/images/replies.png");
  background-size: cover;
  border: 1px solid black;
}
.post-stats .bookmark-button {
  background: url("/restaurant-review-website/images/unactive-bookmark.png");
  background-size: cover;
}