.reply {
  display: flex;
  flex-direction: column;
  padding: 6px 10px;
  min-height: 60px;

  font-family: Roboto, Arial;
  border: 1px solid rgb(90, 90, 90);
  border-top: none;
}

.reply-username {
  height: 20px;
  font-size: 15px;
}
.reply-date {
  font-size: 12px;
  color: rgb(59, 59, 59);
  align-self: center;
}

.reply-message {
  flex: 1;
  font-size: 14px;
  margin-bottom: 8px;
}

.reply-stats {
  display: flex;
  gap: 16px;
  height: 20px;
}

.reply-like-button,
.reply-reply-button {
  background-size: auto;
  background-repeat: no-repeat;
  height: 22px;
  width: 22px;
  padding: 8px;

  border: 1px solid black;
  cursor: pointer;
}
.reply-like-button {
  background: url("/restaurant-review-website/images/active-like.png");
  background-size: cover;
}
.reply-reply-button {
  background: url("/restaurant-review-website/images/replies.png");
  background-size: cover;
}