/* ------------------------ */
/* Reply Form Styles        */
/* ------------------------ */

.reply-form {
  flex-direction: column;
  padding: 8px 44px 4px 44px;
  border-bottom: 1px solid lightgray;
}

.reply-username-input,
.comment-input {
  height: fit-content;
  border: none;
  outline: none;
  resize: none;
}

.reply-buttons {
  justify-content: flex-end;
  gap: 12px;
}

.send-reply-button {
  padding: 6px 12px;
  border-radius: 16px;
  background-color: rgb( var(--clr-light) );
  color: rgb( var(--clr-white) );
  border: none;
  cursor: pointer;
}

/* ------------------------ */
/* Reply Styles             */
/* ------------------------ */

.replies {
  flex-direction: column;
}

.reply {
  flex-direction: column;
  gap: 4px;
  padding: 8px 45px;
  border-bottom: 1px solid lightgray;
}

.reply-stats {
  align-items: center;
  gap: 8px;
}

.reply-stats .like-button,
.reply-stats .reply-button {
  padding: 12px;
  align-self: center;
  border: none;
  border: 1px solid black;
  cursor: pointer;
}
.reply-stats .like-button {
  background: url("/images/unactive-like.png");
  background-size: cover;
}
.reply-stats .reply-button {
  background: url("/images/replies.png");
  background-size: cover;
}