.sidebar {
  position: sticky;
  top: 0;
  height: 100vh;
  min-width: fit-content;
  padding: 6px 18px;
  flex-direction: column;
  gap: 8px;
}

.logo {
  width: 125px;
  padding: 0 8px;
  align-self: left;
  float: left;
  border-radius: 16px;
  cursor: pointer;
}

.sidebar a {
  gap: 8px;
  padding: 4px 8px;
  border-radius: 16px;
  cursor: pointer;
}

.sidebar a .label {
  align-self: center;
  font-size: 17px;
}

.sidebar a img {
  height: 4vh;
}

.sidebar .logo:hover,
.sidebar a:hover {
  background-image: linear-gradient(rgba(238, 143, 159, 0.12) 0 0);
}

.sidebar #post-button {
  padding: 14px 0;
  border-radius: 24px;
  font-size: 18px;
  border: none;
  cursor: pointer;
}