#sidebar {
  position: fixed;
  top: 50px;
  bottom: 0;
  width: 65px;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 6px;
  font-size: 10px; 
  text-align: center;
}

.sidebar-container {
  width: 80%;
  padding: 10px 0;
  margin-bottom: 5px;
  border: 1.5px solid rgba(238, 143, 159, 0.9);
  border-radius: 10px;
  color: rgba(238, 143, 159, 0.9);
  cursor: pointer;
}
.sidebar-container:hover {
  background-image: linear-gradient(rgba(238, 143, 159, 0.075) 0 0);
}
.sidebar-container:active {
  background-image: linear-gradient(rgba(238, 143, 159, 0.15) 0 0);
}

.home-icon,
.profile-icon,
.following-icon,
.trending-icon,
.bookmarks-icon,
.receipts-icon,
.settings-icon {
  height: 32px;
}

.sidebar-label {
  
}