.sidebar {
  color: rgba(238, 143, 159, 0.9);
  position: fixed;
  left: 0;
  top: 50px;
  bottom: 0;
  width: 65px;
  text-align: center;
  font-family: Roboto;
  font-size: 10px;
  padding-top: 0px;
}

.sidebar-container {
  padding: 10px 0;
  border-radius: 10px;
  cursor: pointer;
}
.sidebar-container:hover {
  background-image: linear-gradient(rgb(70 70 70/40%) 0 0);
}
.sidebar-container:active {
  background-image: linear-gradient(rgb(70 70 70/80%) 0 0);
}

.home-icon,
.profile-icon,
.following-icon,
.trending-icon,
.bookmarks-icon,
.receipts-icon,
.settings-icon {
  height: 32px;
}
